

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>eDownload</title>
	<style>
		div{
			margin:10px;
		}
		
	</style>
    <script type="text/javascript" src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/3.3.6/bootstrap.min.css" th:href="@{/css/bootstrap/3.3.6/bootstrap.min.css}"/>
	<script src="/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
	window.onload=function(){
		var cookie = [[${cookie}]];
		
		var sem = cookie.split(";");
	
		if(sem.length == 2){
			var colon = sem[0].split(":");
			
			if(colon.length == 2){
				var userId = colon[1];
				
				$("#user").text("用户："+userId);
				
				$("#logout").show();
			}
		}
	};
		 var websocket = null;

	    //判断当前浏览器是否支持WebSocket
	    if('WebSocket' in window){
	        websocket = new WebSocket("ws://"+[[${localhost}]]+":80/websocket");
	        init_websocket(websocket);
	    }
	    else{
	        alert('Not support websocket')
	    }
		function init_websocket(websocket){
			//连接发生错误的回调方法
		    websocket.onerror = function(){
		        setMessageInnerHTML("error");
		    };

		    //连接成功建立的回调方法
		    websocket.onopen = function(event){
		    	
		    }

		    //接收到消息的回调方法
		    websocket.onmessage = function(event){
		        setMessageInnerHTML(event.data);
		    }

		    //连接关闭的回调方法
		    websocket.onclose = function(){
		        //setMessageInnerHTML("close");
		        setMessageInnerHTML("连接已断开！请刷新浏览器或点击重新连接！\n");
		        $('#conn').show();
		    }

		    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
		    window.onbeforeunload = function(){
		        websocket.close();
		    }
		}
		
	    

	    //将消息显示在网页上
	    total = 0;
	    title="";
	    now = 0.0;
	    success_num = 0;
	    function setMessageInnerHTML(msg){
	    	show = $("#show_message").val();
	    	if(msg.indexOf("zipFileName")!=-1){
	    		title = msg.split(",")[1];
	    		return;
	    	}
            
            if(msg.indexOf("下载总长度") != -1){
            	total = Number(getNumber(msg));
            	scale = 100.0/total;
            }
            if(msg.indexOf("下载成功")!=-1){
            	process = $("#process_success");
            	success_num++;
            	now = success_num * 1.0 *100 / total;
            	if(now>100){
            		now = 100;
            	}
            	nowInt = Math.floor(now);
            	process.text(nowInt+"%");
            	process.attr("style","width:"+nowInt+"%;margin:0;");
            }
	    	if(msg=='complete\n'){
	    		success = Math.floor(now);
	    		if(success<100){
	    			failed = $("#process_failed");
	    			failedNum = 100 - success;
	    			failed.text(failedNum+"%");
	    			failed.attr("style","width:"+failedNum+"%;margin:0;");
	    		}
	    		$('#download').show();
	    	}
			$("#show_message").val(show + msg);
			var scrollTop = $("#show_message")[0].scrollHeight;  
            $("#show_message").scrollTop(scrollTop);  
	    }

	    //关闭连接
	    function closeWebSocket(){
	        websocket.close();
	    }

	    //发送消息
	    
	    function send(){
	    	init();
	    	var url = $('#url').val();
			var begin = $('#begin').val();
			var end = $('#end').val();
			if(url && begin && end){
				$("#show_message").val("");
				var msg = url + ',' + begin + ',' + end;
				websocket.send(msg);
			}else{
				$("#show_message").val("输入不完整！");
			}
	    }
	    function connect(){
	    	websocket = new WebSocket("ws://"+[[${localhost}]]+":80/websocket");
	    	init_websocket(websocket);
	    	setMessageInnerHTML("重连成功！\n")
	    	$('#conn').hide();
	    }
		function clear_text(){
			$("#show_message").val("");
		}
		//获取字符串中的数字
		function getNumber(msg){
			return msg.replace(/[^0-9]/ig,"");
		}

		//init
		function init(){
			$("#download").hide();
	    	$("#process_success").attr("style","width:0%;margin:0;");
	    	$("#process_success").text("0%");
	    	$("#process_failed").text("0%");
	    	$("#process_failed").attr("style","width:0%;margin:0;");
	    	total = 0;
		    title = "";
		    now = 0.0;
		    success_num = 0;
		}
		
		function goDown(){
			var scrollTop = $("#show_message")[0].scrollHeight;  
            $("#show_message").scrollTop(scrollTop);
		}
		function goUp(){
			$("#show_message").scrollTop(0);
			
		}
		function download(){
			window.open("/download?title="+title);
		}
	
	
	</script>
	
	</head>
	<body>
		<div style='width:1000px;margin:0 auto;text-align:center'>
			<div style="display:none;float:right" id="logout">
			
				<span class="text-primary" id="user"></span>
				<a href="/logout"><button class="btn btn_danger">登出</button></a>
			</div>
			<div class="page-header">
  				<h1>下载王<small>说明：结束为0表示全部</small></h1>
			</div>
			<div class="input-group">
				  <span class="input-group-addon" id="basic-addon1">地址</span>
				  <input id="url" type="text" class="form-control" placeholder="https://..." aria-describedby="basic-addon1"/>
			</div>
				 
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">起始</span>
				  <input type="text" id="begin" class="form-control" value='1' aria-describedby="basic-addon2"/>
				  </div>
				  <div class="input-group">
					<span class="input-group-addon" id="basic-addon2">结束</span>
				  <input type="text" id="end" class="form-control" value='0' aria-describedby="basic-addon2"/>
				  
			</div>
			
			<div>
				<button onclick="send()" class="btn btn-primary">开始</button>
				<button id="conn"  onclick="connect()" class="btn btn-primary" style="display:none">重新连接</button>
				<button onclick="clear_text()" class="btn btn-primary">清空滚屏</button>
				<button id="download" style="display:none" onclick="download()" class="btn btn-danger" >下载</button>
				
			</div>
			
			<div class="progress">
	  			<div id="process_success" class="progress-bar progress-bar-success progress-bar-striped active"  style='width: 0%;'>
	   			 0%
	  			</div>
	  			<div id="process_failed" class="progress-bar progress-bar-danger progress-bar-striped active"  style='width: 0%;'>
	   			 0%
	  			</div>
			</div>
			
			<div  style="position: relative;">
				<textarea id="show_message" class="form-control" readonly="readonly" style="background-color:transparent;height:400px;resize:none;"></textarea>
				<div style="position: absolute;left:970px;top:-20px">
					<div ><img src="/image/down.png" onclick="goDown()" style="cursor:pointer;border:1px dashed #666666;"/></div>
					<div style="height:260px"></div>
					<div ><img src="/image/up.png" onclick="goUp()" style="cursor:pointer;border:1px dashed #666666;"/></div>
				</div>
			</div>
			
			<span id="cookie"  th:text="${cookie}" style="display:none"></span>
		</div>
		
	
	</body>
	<div style="text-align:center">
		<div th:replace="include::footer1" ></div>
		<div th:replace="include::footer2" ></div>
	</div>
</html>